@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.nav{
	position: fixed;
	top: 0;
	background: grey;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.nav .brand{
	margin-left: 10px;
}
.nav .brand a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 25px;
}
.nav .bars{
	position: fixed;
	right: 0;
	font-size: 30px;
	margin-right: 10px;
	user-select: none;
	transition: .3s ease;
}
.nav .bars:active{
	color: #fff;
}
.wrapper{

}
.container{
	width: 300px;
	height: 235px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border-radius: 4px;
}
.container .form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container .form .header{
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .form .header h2{
	font-weight: 600;
	font-size: 30px;
	color: grey;
}
.container .form form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.container .form form .form-control{
	width: 70%;
	height: 30px;
	padding: 10px;
	margin: 7px;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	color: grey;
	transition: .6s ease;
}
.container .form form .form-control:focus{
	border: 1.5px solid #000;
	outline: none;
}
.container .form form .btn{
	width: 100px;
	height: 30px;
	background: grey;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 4px;
	font-size: 15px;
	margin-top: 3px;
	font-weight: 600;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	margin-bottom: 10px;
	transition: .6s ease;
}
.container .form form .btn:active{
	background: #000;
}
.container .form form span{
	color: grey;
	font-size: 15px;
	font-weight: 600;
}
.container .form form span a{
	color: #000;
}
